@import "tailwindcss";

@import "@fontsource/ibm-plex-sans";
@import "@fontsource/ibm-plex-sans/600.css";

@font-face {
  font-family: "Berkeley Mono";
  src: url("https://source.coop/fonts/BerkeleyMono-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@theme {
  --color-source-50: #eeeeee;
  --color-source-100: #dfdfdf;
  --color-source-200: #c4c4c4;
  --color-source-300: #a8a8a8;
  --color-source-400: #8e8e8e;
  --color-source-500: #777777;
  --color-source-600: #5e5e5e;
  --color-source-700: #474747;
  --color-source-800: #303030;
  --color-source-900: #1b1b1b;
  --color-source-950: #111111;

  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "Berkeley Mono", monospace;
}

@layer theme {
  body {
    @apply bg-source-100 dark:bg-source-800;
    @apply text-source-950 dark:text-source-50;
  }
}
